# STUDY GROUP - M01S04
## Functions & Methods for Data Cleaning

### Objectives
You will be able to:
* Split DataFrame into subgroups using .groupby() and aggregation functions (.min(), .max(), .count(), .sum()) 
* Explain the different types of joins (outer, inner, left, right)
* Explain strategies for missing data (categorical & numerical)

### Lambda Functions

* experiment and solve for individual cases first
* generalize your solution
* watch for edge cases & exceptions

### Aggregation Functions

* .min() -- returns the minimum value for each column by group
* .max() -- returns the maximum value for each column by group
* .mean() -- returns the average value for each column by group
* .median() -- returns the median value for each column by group
* .count() -- returns the count of each column by group

**Being familiar and comfortable with DataFrame splitting using aggregation methods will be VERY IMPORTANT for correctly using pivot tables, stack/unstack, and multi-heirarchical indexing**

In [18]:
from sklearn.datasets import load_diabetes
import pandas as pd 

data = load_diabetes()
df = pd.DataFrame(data.data, columns=data.feature_names)
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [24]:
df.groupby('sex').max()
#df['sex']
#df['sex'].unique()

array([ 0.05068012, -0.04464164])

In [32]:
r_list = ['bp', 's1']
df2 = pd.DataFrame(df.groupby(['sex', 'bmi'])[r_list].mean())
df2

                           bp        s1
sex       bmi
-0.044642 -0.084886 -0.026328 -0.035968
          -0.083808  0.008101 -0.103389
          -0.081653 -0.048706 -0.029088
          -0.080575 -0.084857 -0.037344
          -0.077342 -0.026328 -0.089630
          -0.076264 -0.043542 -0.045599
          -0.074108 -0.050428 -0.024960
          -0.073030 -0.069364 -0.000193
          -0.070875 -0.022885 -0.001569
          -0.069797 -0.048133 -0.026336
          -0.068719 -0.068790 -0.000193
          -0.067641 -0.108957 -0.074494
          -0.066563 -0.052723 -0.030005
          -0.065486 -0.049280 -0.012577
          -0.064408 -0.018294  0.012191
          -0.063330 -0.053871 -0.073806
          -0.062252 -0.050428 -0.014641
          -0.061174 -0.033214 -0.040784
          -0.060097 -0.029771  0.046589
          -0.059019  0.016708 -0.052479
          -0.057941 -0.042395 -0.015672
          -0.056863 -0.046985 -0.011889
          -0.055785 -0.036656  0.089244
          -0.054707 -0.052723 -0.058442
          -0.052552 -0.033214 -0.044223
          -0.051474 -0.026328 -0.008449
          -0.050396  0.052858 -0.006385
          -0.049318 -0.036656 -0.007073
          -0.048241 -0.015999  0.000495
          -0.047163 -0.002228 -0.019456
...                       ...       ...
 0.050680  0.046607 -0.015999  0.020446
           0.049840  0.018429 -0.016704
           0.053074  0.052858  0.032830
           0.054152 -0.019442 -0.049727
           0.055229 -0.040099  0.053469
           0.056307  0.076958  0.049341
           0.058463  0.070073  0.013567
           0.059541  0.018429  0.017236
           0.060618  0.062804  0.042003
           0.061696  0.014604 -0.011201
           0.063852  0.070073  0.133274
           0.068163  0.008101 -0.016704
           0.069241  0.059744  0.017694
           0.071397  0.016134  0.093372
           0.072474  0.076958 -0.008449
           0.074630  0.066630 -0.009825
           0.076786  0.025315  0.001183
           0.077863  0.052858  0.078236
           0.081097  0.021872  0.043837
           0.088642  0.078680  0.028014
           0.094031  0.097616 -0.034592
           0.096186  0.104501 -0.002945
           0.098342  0.087287  0.060349
           0.104809  0.070073 -0.035968
           0.111276  0.076958 -0.031840
           0.123131  0.083844 -0.104765
           0.125287  0.028758 -0.053855
           0.127443  0.097616  0.016318
           0.137143 -0.015999  0.041086
           0.170555  0.014987  0.030078

[247 rows x 2 columns]

### Combining DataFrames

* Outer Join - returns all records from both tables.

* Inner Join - returns only the records with matching keys in both tables.

* Left Join - returns all the records from the left table, as well as any records from the right table that have a matching key with a record from the left table.

* Right Join - returns all the records from the right table, as well as any records from the left table that have a matching key with a record from the right table.

In [17]:
joined_df = df1.join(df2, how='inner') # how defaults to 'left' if not specified

NameError: name 'df1' is not defined

### Dealing with Missing Data

* How to detect missing data?
    1. NaNs - .isna().sum()
    2. Placeholder Values
    
        a. Numerical - 0/999, .value_counts()
        
        b. Categorical - .unique()

* How to deal with missing data?
    1. Remove - df.dropna()
    
    2. Replace/Impute - df['col'].fillna(df['col'].median()) OR common value for categorical data (df['col'].value_counts())
       
       a. Why median instead of mean?
       
    3. Keep - 
        a. categorical - label 'missing'/'NaN' can give useful info about dataset
        
        b. numerical - binning